.section-skeleton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(360 * var(--resizing-xd-ratio));
}
.section-skeleton.al-ahly-page {
  background-color: var(--light-black);
}
