.personal-workout {
    padding-block-start: 3rem;
}

.personal-workout > div {
    display: flex;
    justify-content: space-around;
}

.personal-workout .form {
    width: 45%;
}

.personal-workout .form input {
    text-align: center;
}

.personal-workout input,
.personal-workout label {
    margin-block: 5px;
}

.personal-workout .gender-input {
    display: flex;
    justify-content: space-between;
    gap: 1rem
}

.personal-workout .gender-input label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    text-align: center;
    background-color: var(--white-10-opacity);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    padding-inline-end: 3rem;
    font-size: 20px;
    margin-block: 5px;
}

.personal-workout .gender-input label img {
    width: 100%;
    max-width: 60px;
    min-width: 40px;
    padding-inline: 10px;
}

.personal-workout .gender-input label:has(input:checked) {
    outline: var(--light-grey) solid;
}

.personal-workout .gender-input input {
    display: none;
}

.personal-workout .date-input {
    display: flex;
    flex-direction: column;
}

.personal-workout .date-input input {
    direction: ltr;
    width: 100%;
    background-color: var(--white-10-opacity);
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: var(--light-grey);
    text-align: center;
}

.personal-workout .date-input input::-webkit-calendar-picker-indicator {
    background-image: url('src/assets/images/Fitness/calendar.svg');
}

.personal-workout .weight-input {
    width: 100%;
}

.personal-workout .weight-input input {
    width: 100%;
    background-color: var(--white-10-opacity);
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: var(--light-grey);
}

.personal-workout .height-input {
    width: 100%;
}

.personal-workout .height-input input {
    width: 100%;
    background-color: var(--white-10-opacity);
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: var(--light-grey);
}

.personal-workout .training-type-input {
    display: flex;
    flex-direction: column;
}

.personal-workout .training-type-input h5 {
    margin-block-start: 1rem;
}

.training-type-input>div {
    display: flex;
    justify-content: space-between;
    gap: 1rem
}

.personal-workout .training-type-input label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 30%;
    text-align: center;
    background-color: var(--white-10-opacity);
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 16px;
    margin-block: 5px;
}

.personal-workout .training-type-input label img {
    width: 100%;
    max-width: 60px;
    min-width: 40px;
    padding-inline: 10px;
}

.personal-workout .training-type-input label:has(input:checked) {
    outline: var(--light-grey) solid;
}

.personal-workout .training-type-input input {
    display: none;
}

.personal-workout .training-days-input {
    display: flex;
    flex-direction: column;
}

.personal-workout .training-days-input>div {
    display: flex;
    gap: 1rem;
    background-color: var(--white-10-opacity);
    border-radius: 10px;
    padding: 0.5rem;
    height: 90px;
}

.personal-workout .training-days-input h5 {
    margin-block-start: 1rem;
}

.personal-workout .training-days-input label {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
}

.personal-workout .training-days-input label:has(input:checked) {
    outline: 2px solid var(--light-green);
}

.personal-workout .training-days-input label span:not(:last-child) {
    font-size: 14px;
    color: var(--light-grey);
}

.personal-workout .training-days-input label span:last-child {
    font-weight: 600;
}

.personal-workout .training-days-input input {
    display: none;
}

.personal-workout .training-duration-input {
    display: flex;
    flex-direction: column;
}

.personal-workout .training-duration-input h5 {
    margin-block-start: 1rem;
}

.training-duration-input>div {
    display: flex;
    justify-content: space-between;
    gap: 1rem
}

.personal-workout .training-duration-input label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 30%;
    text-align: center;
    background-color: var(--white-10-opacity);
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 14px;
    margin-block: 5px;
    color: var(--light-grey);
    border: 1px dashed var(--light-grey);
}

.personal-workout .training-duration-input label img {
    width: 35px;
    padding-inline: 10px;
}

.personal-workout .training-duration-input label:has(input:checked) {
    outline: var(--light-grey) solid;
}

.personal-workout .training-duration-input input {
    display: none;
}

.personal-workout .time-input {
    width: 50%;
    margin-block: 1rem;
}

.personal-workout .time-input input {
    width: 100%;
    background-color: var(--white-10-opacity);
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: var(--light-grey);
}

.personal-workout .time-input input::-webkit-calendar-picker-indicator {
    background-image: url('src/assets/images/Fitness/clockIcon.svg');
}

.personal-workout .time-input-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--white-10-opacity);
    border-radius: 10px;
    margin-block: 1rem;
}

.personal-workout .confirm-btn {
    width: 50%;
    border-radius: 42px;
    border: none;
    background-color: var(--light-green);
    color: var(--bg-gradiant-3);
    padding-block: 10px;
    font-size: 20px;
    font-weight: 900;
    margin-block-start: 10px;
}

.personal-workout .error-msg {
    justify-content: flex-start;
    color: tomato;
    padding-block: 15px;
    font-size: 20px;
    font-weight: 900;
    margin-inline-start: 1.5rem;
}

.personal-workout .banner {
    width: 45%;
}

.personal-workout .banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.success {
    display: flex;
    justify-content: center;
    align-items: center;
}

.failed{
color: red;
display: flex;
margin-block: 10px;
}


@media (max-width: 991.98px) {
  
    .personal-workout  .confirm-btn {
        width: 100%;
    }
}

@media (max-width:767.98px) {
    .personal-workout>div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .personal-workout .form,
    .personal-workout .banner {
        width: 100%;
    }

    .personal-workout .form {
        order: 1;
    }

    .personal-workout .form h5 {
        margin-block: 1rem;
    }

    .personal-workout .banner img {
        height: 12rem;
        border-radius: 10px;
        object-fit: cover;
        object-position: 40% 20%;
    }

    .personal-workout .training-type-input label {
        font-size: 12px;
    }

    .personal-workout .training-type-input label img {
        padding-inline-start: 0px;
    }

    .personal-workout .training-days-input>div {
        gap: 10px
    }

    .personal-workout .error-msg {
        font-size: 16px;
        text-align: center;
    }
}