.statistics-table {
  height: 100%;
}

.statistics-table a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 0.5rem;
  text-decoration: none;
}

.statistics-table a span {
  color: var(--main-chinese-silver);
}

.statistics-table a svg {
  color: var(--light-green);
}

.statistics-table table {
  background-color: var(--cool-black);
  cursor: pointer;
  color: var(--white);
  margin-block-start: 15px;
  margin-block-end: 0;
  border-radius: 6px;
}

.statistics-table :global(.table-hover > tbody > tr:hover > *) {
  --bs-table-accent-bg: var(--light-green);
  color: var(--white);
  font-weight: bold;
}

.statistics-table table thead tr th,
.statistics-table table tbody tr td {
  font-size: 15px;
  text-align: center;
  white-space: nowrap;
}

.statistics-table table thead tr th:nth-child(1),
.statistics-table table tbody tr td:nth-child(1) {
  text-align: start;
}

.statistics-table table tbody tr:nth-child(odd) {
  --maastricht-blue: 3, 24, 58;
  background-color: rgba(var(--maastricht-blue), 0.5);
}

.team-info {
  display: flex;
  align-items: center;
  width: 100%;
}

.team-info img {
  margin-inline: 10px;
}


@media (max-width: 991.98px) {
  .table-body {
    max-width: 100%;
    overflow-x: auto;
  }

  .statistics-table,
  .statistics-table table,
  .statistics-table table thead tr th,
  .statistics-table table tbody tr td {
    height: fit-content;
  }
}

@media (max-width: 575.98px) {
  .team-info img {
    width: 20px;
    height: 20px;
  }

  .statistics-table table thead tr th,
  .statistics-table table tbody tr td {
    padding: 10px;
  }
}
